<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/views/css/cartstyles.css">
</head>
<body ng-controller="cartController">
    <div class="cart-container">
        <h2>Shopping Cart</h2>
        <ul class="cart-items">
            <li ng-repeat="item in cartItems" class="cart-item">
                <game-card-directive game="item" show-remove-button="true" is-cart-view="true" show-add-button="true" show-remove-one-button="true" class="horizontal-card"></game-card-directive>
            </li>
        </ul>
        <div>
            <button class="btn-primary" ng-click="openModal()">Checkout</button>
        </div>
    </div>
</body>
</html>
